In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import os
from collections import defaultdict
from itertools import chain
import seaborn as sns
from tabulate import tabulate

/home/mcherti/miniconda/envs/databoard-env/lib/python2.7/site-packages/matplotlib/__init__.py:878: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [2]:
df = pd.read_csv('export_data.csv')
df = df.sort_values(by='datetime')
df = df[df['user']=='balazs']
urls = df['url'].values
def rename(m):
    m = m.replace('letterness|diversity_', '')
    return m
df['model'] = df['url'].apply(lambda u:u.split('/')[3])
df['metric'] = df['url'].apply(lambda u:rename(u.split('/')[4]))
df['image'] = df['url'].apply(lambda u:u.split('/')[5])

def f(l):
    if l=='good_letters' or l=='acceptable_letters':
        return 'letters'
    elif l == 'bad_letters':
        return 'bad'
    return l
df['label'] = df['label'].apply(f)
df = df.drop_duplicates(subset=['image'], keep='first')
#print(len(df))
#print(len(pd.unique(df['image'])))

L = 1
m = ((df['model']=='gan')  & (df['label']=='letters')).sum() / L
print(m)
print((df['label']=='letters').sum())

13
36

In [3]:
len(pd.unique((df['image'])))

90

In [4]:
labels = df['label'].unique()
metrics = df['metric'].unique()
print(labels, metrics)
table = [['' for _ in range(len(labels))] for _ in range(len(metrics))]
for i, m in enumerate(metrics):
    for j, l in enumerate(labels):
        table[i][j] = ((df['label'] == l) & (df['metric'] == m)).sum()

(array(['digits', 'letters', 'bad'], dtype=object), array(['parzen_letters', 'count_letters_99', 'count_letters_85',
       'letter_objectness', 'count_letters_98', 'max_letters',
       'count_letters_95', 'count_letters_999', 'parzen_digits'], dtype=object))

In [5]:
print(np.array(table).sum())
d = pd.DataFrame(table)
d.index = metrics
#d.columns = ['good_letters', 'acceptable_letters',  'bad_letters', 'digits', 'bad'  ]
d.columns = labels
#d = d[['good_letters', 'acceptable_letters',  'bad_letters', 'digits', 'bad'  ]]
d = d[['letters', 'digits', 'bad']]

#d.columns = ['gl', 'al', 'bl', 'd', 'bs']
print(tabulate(d, tablefmt='latex', headers='keys'))

90
\begin{tabular}{lrrr}
\hline
                   &   letters &   digits &   bad \\
\hline
 parzen\_letters    &         4 &       12 &     3 \\
 count\_letters\_99  &         2 &        0 &     1 \\
 count\_letters\_85  &         2 &        0 &     5 \\
 letter\_objectness &         7 &       10 &     1 \\
 count\_letters\_98  &         3 &        0 &     4 \\
 max\_letters       &        10 &        0 &     3 \\
 count\_letters\_95  &         3 &        0 &     3 \\
 count\_letters\_999 &         5 &        0 &     4 \\
 parzen\_digits     &         0 &        8 &     0 \\
\hline
\end{tabular}

In [6]:
d

                   letters  digits  bad
parzen_letters           4      12    3
count_letters_99         2       0    1
count_letters_85         2       0    5
letter_objectness        7      10    1
count_letters_98         3       0    4
max_letters             10       0    3
count_letters_95         3       0    3
count_letters_999        5       0    4
parzen_digits            0       8    0