In [35]:
import pandas as pd
output_cols = [
    'out_objectness', 
    'out_count', 
    'out_max',
    'in_objectness', 
    'in_count', 
    'in_max'
]
df = pd.read_csv('hypers.csv', index_col=0)
df[df['jobset'] == 'jobset87'][output_cols]

      out_objectness  out_count   out_max  in_objectness  in_count    in_max
1278       10.007165   0.207055  0.415434       6.495048  0.641023  0.784607
1279        8.097954   0.170097  0.352170       6.468737  0.686450  0.858010
1280       10.256888   0.183860  0.345295       6.010072  0.696991  0.847884
1281        7.976266   0.000500  0.348898       6.565222  0.704502  0.863425
1282        8.967206   0.072145  0.340641       5.588778  0.660073  0.835794
1283        7.646980   0.204166  0.357078       5.838506  0.650159  0.818818
1284        8.802168   0.161560  0.344439       5.174812  0.637351  0.803214
1285        7.216638   0.000500  0.327099       4.800516  0.628295  0.808452
1286        6.175016   0.092874  0.304868       5.190268  0.655357  0.820567
1287        5.246849   0.000000  0.270566       4.246353  0.636583  0.791715
1288        7.766043   0.107373  0.298640       4.972953  0.645753  0.811318
1289        9.944946   0.204478  0.416399       6.676975  0.666075  0.781500
1290        5.667491   0.000000  0.288406       5.570264  0.709302  0.848870
1291        8.420851   0.190942  0.354995       5.643589  0.666121  0.824868
1292        9.666564   0.161560  0.370952       6.177319  0.679599  0.836706
1293        6.300252   0.003000  0.244841       3.987926  0.546819  0.720317
1294       10.142353   0.321928  0.422888       6.042046  0.623176  0.805666
1295        9.382396   0.002500  0.334482       5.455009  0.661771  0.826382
1296        9.973968   0.238219  0.378751       5.911969  0.666969  0.828497
1297        7.017452   0.000500  0.300999       5.031355  0.639837  0.803277

In [36]:
## Original scores
df[df['id'] == '517302ec5da070804fd729e9bd44fdc8'][output_cols]

     out_objectness  out_count  out_max  in_objectness  in_count    in_max
635       11.122325   0.403535  0.54233       6.693773  0.600292  0.727722

In [37]:
20 * df['out_count'].mean(), 20 * df['out_count'].std()

(3.7734837372675711, 2.7025991058893246)

In [38]:
df['out_objectness'].mean(), df['out_objectness'].std()

(5.8550288290895454, 2.6896797444274383)