In [294]:
import pandas as pd
import numpy as np
from IPython.display import HTML, display
output_cols = [
    'out_objectness', 
    'out_count', 
    'out_max',
    #'out_diversity',
    
    'objectness',
    
    'inout_noise',
    'in_objectness', 
    'in_count', 
    'in_max',
    #'in_diversity'
]
pd.options.display.max_columns = 1000
df = pd.read_csv('../hypers.csv', index_col=0)
#jobset88 = without sparsity bug
#jobset89 = with sparsity bug
df = df[df['jobset'] == 'jobset88']
print(df.shape)
#df[df['']]
df = df[df['nb_active']==10]
print(df.shape)
df = df[['id'] + output_cols + ['topology']]
df['value'] = df['out_objectness'] + 20. * df['out_count']
#df['value'] = df['out_objectness'] + (10 * df['out_count'] + 10 * df['out_diversity'])
df.groupby('topology').agg(['mean', 'std', 'size'])[output_cols + ['value']]

(110, 98)
(54, 98)

          out_objectness                out_count                  out_max  \
                    mean       std size      mean       std size      mean
topology
diamond         6.051261  1.201398    8  0.000125  0.000231    8  0.299875
eiffel          5.936994  1.278313    9  0.025116  0.074039    9  0.301368
hourglass       4.863204  1.292112   12  0.022503  0.056205   12  0.269055
parallel        6.578992  1.387325   13  0.007976  0.027408   13  0.332089
trumpet         4.690009  1.305581   12  0.000042  0.000144   12  0.277250

                         objectness                inout_noise                 \
                std size       mean       std size        mean       std size
topology
diamond    0.020526    8   6.153272  0.531755    8    0.201340  0.028504    8
eiffel     0.059426    9   4.748379  0.854428    9    0.317969  0.044082    9
hourglass  0.055238   12   4.794916  1.442277   12    0.290926  0.113397   12
parallel   0.050519   13   6.145993  1.139185   13    0.227005  0.044393   13
trumpet    0.040802   12   5.214950  1.310285   12    0.245707  0.055782   12

          in_objectness                 in_count                   in_max  \
                   mean       std size      mean       std size      mean
topology
diamond        6.403273  0.614871    8  0.798535  0.028494    8  0.883925
eiffel         4.544952  1.087872    9  0.656916  0.065148    9  0.740491
hourglass      4.952737  1.480440   12  0.686571  0.102494   12  0.808739
parallel       6.058733  0.854239   13  0.765019  0.051234   13  0.847284
trumpet        5.287182  1.313324   12  0.754251  0.055811   12  0.842754

                             value
                std size      mean       std size
topology
diamond    0.021153    8  6.053761  1.202430    8
eiffel     0.092613    9  6.439307  1.380871    9
hourglass  0.084877   12  5.313266  1.784181   12
parallel   0.057633   13  6.738503  1.406364   13
trumpet    0.052782   12  4.690843  1.304419   12

In [283]:
for name, g in df.groupby('topology'):
    print(name)
    display(HTML(g.sort_values(by='value', ascending=False).to_html()))

diamond

eiffel

hourglass

parallel

trumpet